/* My style */
body {
    .container {
        color: #3D3D3D;
    }
}

// Apply the text color to elements inside the body tag
body {
    color: #3D3D3D;
  
    // Apply the red text color to elements of class .red inside the body tag
    .red {
      color: #FF0000;
    }
  }
  